<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Home</title>
</head>

<body>
    <h1>welcome to ilsaqa's apis</h1>

    <h3>api description</h3>
    <h4>creation api: "https://rocky-cliffs-50279.herokuapp.com/creation"</h4>
    <p>this post api should have Object that contain  string label , string color and Array of points ,the array contain Object must have 3 points at min</p>
    <p>Example: 
    {   
	"label":"name of zone",
	"color":"5fffff",
	"points":[{"lat":23323,"lng":23232},{"lat":8554,"lng":788},{"lat":55,"lng":755588}]
    } </p>
    <h4>update api: "https://rocky-cliffs-50279.herokuapp.com/update"</h4>
    <p>This update api should have Object that contain ID , string label , string color and Array of points ,the array contain Object must have 3 points at min</p>
    <p>Example: 
    {   
	"_id" : "5b58cfc3d0775d6014d55395",
	"label":"update",
	"color":"5fffff",
	"points":[{"lat":23323,"lng":23232},{"lat":8554,"lng":788},{"lat":55,"lng":755588}]
    } </p>
    <h4>fetch api: "https://rocky-cliffs-50279.herokuapp.com/fetch"</h4>
    <p>This fetch api and it will give you all data that you stored</p>

</body>

</html>